---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card';
import '../../base.css'
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col m-auto gap-4 justify-center items-center">
		<h1 class="text-[4rem]">Welcome to <span class="text-gradient font-semibold">my first Astro website </span></h1>
		<p class="text-[1.2rem] ">
			Now I'm passing through this technology, I'm planning to learn to make projects with astro in the future. <br />
			<strong class="opacity-90 text-indigo-900">Below Some links if you want to learn Astro too!</strong> Ok bye:
		</p>
		<ul role="list" class="link-card-grid w-[60%]">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
	</main>
</Layout>

